/** CSS STYLE **/

/* colors */

:root {
  --white: #fff;
  --white-semitr: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-color-dark: #908d8b;
  --dark: #2a2626;
  --dark-semitr: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --primary-dark: #42413c;
  --hover: #ea7600;
}

/* fonts */

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: Neucha-Regular;
  src: url("../fonts/Neucha-Regular.ttf");
}

.font-style {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3,
.font-style2 {
  font-family: Neucha-Regular, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  margin: 0;
  z-index: 1;
}

h1 {
  font-size: 72px;
}

h2 {
  color: var(--main-color);
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.main-color {
  color: var(--main-color);
}

.text-dark {
  color: var(--dark);
}

.text-primary-dark {
  color: var(--primary-dark);
}

.text-secondary-dark {
  color: var(--main-color-dark);
}

.text-white {
  color: var(--white);
}

.text-semitr {
  color: var(--white-semitr);
}

.text-brown {
  color: var(--brown);
}

.text-blue {
  color: var(--blue);
}

.fs-72 {
  font-size: 72px;
}

.fs-60 {
  font-size: 60px;
}

.fs-34 {
  font-size: 34px;
}

.fs-52 {
  font-size: 52px;
}

.fs-24 {
  font-size: 24px;
}

.fs-18 {
  font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.fs-12 {
  font-size: 12px;
}

.fw-700 {
  font-weight: 700;
  text-transform: uppercase;
}

/* main */

body {
  margin: 0;
}

.overflow {
  overflow-x: hidden;
}

#navigation {
  background-color: var(--primary-dark);
  padding: 200px 0 60px;
}

.width-limits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 1110px;
}

.width-1110 {
  width: 1110px;
}

.bg {
  display: flex;
  flex-direction: column;
}

.bg::before {
  content: "";
  position: absolute;
  left: 0px;
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  width: 1110px;
  height: 914px;
  opacity: 0.1;
}

.bg-light {
  background-color: var(--light);
  width: 100%;
  height: 100%;
}

.bg-white {
  background-color: var(--white);
  width: 100%;
  height: 100%;
}

.bg-primary-dark {
  background-color: var(--primary-dark);
  width: 100%;
  height: 100%;
}

.bg-main-color {
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
}

.bg-brown {
  background-color: var(--brown);
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
  padding: 105px 0;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1110px;
  margin: 100px auto;
}

.image {
  content: "";
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.columns {
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
}

.left-column {
  display: flex;
  flex-basis: 50%;
}

.right-column {
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
}

.btn-style {
  margin: 12px 24px;
  width: 148px;
  padding-top: 11.7px;
  padding-bottom: 11.7px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--main-color);
}

.btn {
  display: flex;
  justify-content: space-evenly;
  padding-left: 176px;
}

nav {
  margin-top: 100px;
}

.mgn-btm {
  margin-bottom: 180px;
}

.mgn-auto {
  margin: 0 auto;
}

.txt-center {
  text-align: center;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  z-index: 1;
}

.mbn-bt-20 {
  margin-bottom: 100px;
}

.mgn-top-150 {
  margin-top: -162px;
}

.mgn-top-100 {
  margin-top: 100px;
}

.mgn-t-b-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mgn-btm-5 {
  margin-bottom: -5px;
}

.mgn-btm-05 {
  margin-bottom: 0.5em;
}

.relative-36 {
  position: relative;
  top: 29px;
}

.relative-5 {
  position: relative;
  top: 5px;
}

.pd-b-100 {
  padding-bottom: 100px;
}

.pd-top-50 {
  padding-top: 50px;
}

.pd-top-100 {
  padding-top: 100px;
}

.pd-l-10 {
  padding-left: 10px;
}

.blocks {
  flex-direction: column;
  padding-top: 200px;
}

.blocks > ul {
  list-style: none;
}

.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.card-title {
  width: 350px;
  box-sizing: border-box;
  list-style: none;
  margin: 0 0 20px;
}

.card {
  width: 350px;
  box-sizing: border-box;
  list-style: none;
  padding: 18px 24px 24px 24px;
  margin-bottom: 18px;
  background-color: var(--light);
}

.no-link {
  text-decoration: none;
}

.card:hover {
  background-color: var(--main-color);
}

.card:hover h2,
.card:hover h3,
.card:hover p {
  color: var(--white);
}

.number {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 35px;
}

.vid-title {
  position: relative;
  top: 0.9em;
}

.flex {
  display: flex;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.basis-540 {
  flex-basis: 540px;
}

.wh-350 {
  width: 350px;
}

.height-190 {
  height: 190px;
}

.align-middle {
  vertical-align: middle;
}

input,
label {
  display: block;
}

input {
  width: 423px;
  border: 1px, var(--white);
}

.relativel-16 {
  position: relative;
  left: 16px;
}

.rules:link {
  color: var(--white);
}

.send-btn {
  position: relative;
  width: 70px;
  height: 50px;
  background-color: var(--main-color);
  border: none;
  box-sizing: border-box;
}

.send-btn::before {
  position: absolute;
  content: "";
  background-image: url("../img/send.svg");
  width: 24px;
  height: 24px;
  left: 23px;
  top: 13px;
  z-index: 2;
}

.send-btn:hover,
.btn-style:hover {
  background-color: var(--hover);
}

.credits {
  text-align: center;
}

.link-color:link {
  color: var(--blue);
}